/data/
/.idea
/C_MAPSS/checkpoints/
/C_MAPSS/results/
.env
.env.*
/outputs
/checkpoints
/scania_cache
/scania_cache_regression
/scania_cache_classification
__pycache__/
/lightning_logs
lab.ipynb
/algorithm_architecture
/conformal_prediction